{:paths ["src/main/clj" "src/main/java"]
 :deps {org.clojure/clojure                    {:mvn/version "1.10.1"}
        org.clojure/tools.logging              {:mvn/version "1.0.0"}
        org.apache.camel/camel-core            {:mvn/version "4.0.0"}
        org.apache.camel/camel-sql             {:mvn/version "4.0.0"}
        org.apache.camel/camel-jcache          {:mvn/version "4.0.0"}
        org.apache.camel/camel-management      {:mvn/version "4.0.0"}
        org.apache.camel/camel-ftp             {:mvn/version "4.0.0"}
        malabarba/lazy-map                     {:mvn/version "1.3"}
        camel-snake-kebab/camel-snake-kebab    {:mvn/version "0.4.1"}
        metosin/jsonista                       {:mvn/version "0.2.6"}
        clj-time/clj-time                      {:mvn/version "0.15.2"}}              
}
